a {
    text-decoration: none;
    font-weight: 800;
    color: #035926;
}

p>a:hover {
    color: #000;
}

.result {
    color: rgb(255, 0, 0);
}

.contenedor {
    width: auto;
    height: 100vh;
    padding
}

/* Style the pest */
.parag {
    font-size: medium;    
    text-align: justify;
}

.pest {
    padding: 15px 0;
    float: left;
    width: 25%;
    height: 90%;
    /*background-color: #024016;*/
}

/* Style the buttons inside the pest */
.pest button {
    display: flex;
    background-color: #a1d18d;
    color: black;
    font-weight: 600;
    padding: 22px 16px;
    width: 95%;
    height: 60px !important;
    border: 2px solid #000 !important;
    border-radius: 12px;
    justify-content: center;
    outline: none;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 600;
}


/* Change background color of buttons on hover */
.pest button:hover {
    background-color: #b5d1a8;
    padding-right: 25px;
}


/* Create an active/current "pest button" class */
.pest button.active {
    background-color: #8ab973;
    transform: translateY(4px);
}


/* Style the pest content */
.pPest {
    font-size: medium;
    text-indent: 25px;
}

.contenidopest {
    float: left;
    padding: 0 12px;
    width: 70%;
    border-left: none;
    height: 80%;
}
.contenidopest h3 {
    /*color:#fff !important;*/
    font-weight: 800 !important;
}

.btnCont-Verde {
    background-color: #dff0d8;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 50px;
    cursor: pointer;
    text-decoration: none;
}

.btnCont-Verde:hover {
    background-color: #035926;
    color: #fff;
    border: 2px solid #c0c0c0;
}

/* Botón corredizo de izquierda a derecha */
.btnBase {
    border: 2px solid #000;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    background: #a1d18d;
    padding: 20px;
    margin: 25px auto;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 150px;
    box-shadow: inset 0 0 0 0 #a1d18d;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.link:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: inset 340px 0 0 0 #024016;

}


/* Termina combo desplazamiento del botón */


.contenedorColumnas {
    display: flex;
}

.colIzq {
    width: 30%;
}

.colDer {
    width: 70%;
}

.colIzq01 {
    width: 50%;
    text-align: center;
}

.colDer01 {
    width: 50%;
    text-align: center;
}

.contTresCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fila {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.centraImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*.centraImg{  
  display: flex !important;
  justify-content: center; 
  height: 70%;  
}*/

.enlaces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.enlaces>* {
    margin: 0px 10px 5px 10px;
}

.contenedorColumnas {
    display: flex;
}

.colIzq {
    width: 30%;
}

.colDer {
    width: 70%;
}

.colIzq01 {
    width: 50%;
    text-align: center;
}

.colDer01 {
    width: 50%;
    text-align: center;
    /*display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;*/
}

.contTresCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

span.frac>sup,
span.frac>sub {
    display: block;
    font: inherit;
    padding: 0 0.3em;
}

span.frac>sup {
    border-bottom: 0.15em solid;
}

span.frac>span {
    display: none;
}

span.sign {
    vertical-align: middle;
}

.nums {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #000;
    font-size: x-large;
}

.num {
    font-weight: bold;
    color: #000;
    font-size: x-large;
}

p.sangFran {
    text-indent: -40px;
    position: relative;
    padding-left: 40px;
    font-size: small;
}

.zoomImg, .zoomImgUp, .zoomImgLft, .zoomImgGd, .zoomImgExg {
    transition: all .2s ease-in-out;
}

.zoomImg:hover {
    transform: scale(2);
}
/*.zoomImgUp {
    transition: all .2s ease-in-out;
}*/

.zoomImgUp:hover {
    transform: scale(2) translateX(-80px) translateY(-80px);        
}
/*.zoomImgLft{
    transition: all .2s ease-in-out;
}*/

.zoomImgLft:hover{
    transform: scale(2) translateX(-80px) translateY(80px);       
}
/*.zoomImgGd{
    transition: all .2s ease-in-out;
}*/
.zoomImgGd:hover{
    transform: scale(1.4) translateX(-80px);
}
/*.zoomImgExg{
    transition: all .2s ease-in-out;
}*/
.zoomImgExg:hover{
   transform: scale(1.8) translateX(-80px) translateY(380px);
}



/*

.grow { 
	transition: all .2s ease-in-out; 
}
	.grow:hover { 
    	transform: scale(1.1); 
    }

    img:hover {
transform: scale(1.3);
}

*/

/*
<div style="color: green; background: gray"
onpointerenter="this.setAttribute('style', 'color: blue; background: red')"
onpointerleave="this.setAttribute('style', 'color: red; background: blue')">some content</div>
*/




/*
.pest button {
  display: flex !important;
  background-color: #a1d18d;
  color: black;
  font-weight: 600;
  padding: 22px 16px;
  width: 100%;
  height: 60px !important;
  border: 2px solid #000 !important;  
  border-radius: 12px !important;
  justify-content: center;
  outline: none;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
*/