body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(3, 89, 38, 0.7);
  overflow: auto;
  position: fixed;
}

.navbar a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar a:hover {
  background-color: #000;
}
.navbaResp {
  display: none;
}
.active {
  background-color: #004129;
}
.bg {
  background-color: pink;
  height: 2450px;
}
.BgColor {
  color: white;
  transition: all 1s;
  background-color: #035926;
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*@media screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
  .navbaResp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    color: white;
    background-color: #035926;
    overflow: auto;
    position: fixed;
  }
  .navbar a {
    display: flex;
    align-items: center;
  }
  .navbaResp > a {
    color: #fff;
  }

  .BgColor {
    color: white;
    transition: all 1s;
    background-color: #035926;
    border-bottom: 1px solid lightgray;
  }
}
