*{
    margin: 0;
    padding: 0;
}

.slider{
    width: 100%;
    margin:auto;
    overflow: hidden;
}
.slider ul{
    display:flex;
    padding: 0;
    width: 600%;
    animation: cambio 40s infinite alternate;
    animation-timing-function: ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width:100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    12%{margin-left: 0;}

    18%{margin-left: -100%;}
    28%{margin-left: -100%;}

    34%{margin-left: -200%;}
    44%{margin-left: -200%;}

    50%{margin-left: -300%;}
    60%{margin-left: -300%;}

    66%{margin-left: -400%;}
    76%{margin-left: -400%;}

    82%{margin-left: -500%;}
    100%{margin-left: -500%;}
}
/*
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}